*.swp
*.sd
__pycache__
models/ogb/ogb-*/gcn*.json
models/ogb/ogb-*/sage*.json
models/ogb/ogb-*/gcn*.json
models/ogb/ogb-*/archive*.tar
models/ogb/ogb-*/sparse-tmp.py
models/ogb/ogb-*/dataset
models/ogb/ogb-*/learned_param*.pt
models/ogb/ogb-*/spmm.cu

